# Compiled Object files
*.slo
*.lo
*.o

# Eclipse CDT files 
*.cproject
*.project
*.settings/

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
bin
build
.dep

# SConstruct log file
config.log

# Temporary editor files.
*~
*#
.#*

# .DS_Store on Mac.
.DS_Store

