{lib_dirs, ["ebin"]}.

%%{port_specs, []}.

{erl_opts, [debug_info, {i, "./include"}, {i, "test"}, {src_dirs, ["src"]},
	   {platform_define, 
	   "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
           {platform_define, "(linux|freebsd)", 'BACKLOG', 128}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.

{deps, []}.
