{lib_dirs, ["ebin"]}.

%%{port_specs, [{"ebin/imgproc_nif.so , c_src/*.cpp"}]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -I/opt/local/include `pkg-config --cflags --libs opencv`"},
	    {"LDFLAGS", "$LDFLAGS `pkg-config --libs opencv`"}]}.

{erl_opts, [debug_info, {i, "./include"}, {i, "test"}, {src_dirs, ["src"]},
	   {platform_define, 
	   "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
           {platform_define, "(linux|freebsd)", 'BACKLOG', 128}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.

{deps, []}.
